apiVersion: v2
name: cas-metabase
description: A Helm chart for the CAS Metabase instance
type: application
version: 0.2.0
appVersion: 0.36.3
dependencies:
  - name: cas-postgres
    version: 0.6.1
    repository: https://bcgov.github.io/cas-postgres/
  - name: metabase
    version: 0.12.1
    repository: file://../metabase
