cas-postgres:
  patroni:
    walE:
      enable: true
      # the GCS bucket name should be {{ namespace }}-{{ gcs.bucketSuffix }}, has to be < 28 characters
      gcsBucket: 9212c9-test-mb-backups
      # kubernetesSecret should be gcp-{{ namespace }}-{{ gcs.bucketSuffix }}-service-account-key
      kubernetesSecret: gcp-9212c9-test-mb-backups-service-account-key # pragma: allowlist secret
    # options below are required if walE.enable is true
  namespace: 9212c9-test
  gcs:
    bucketSuffix: mb-backups

route:
  enable: true
  host: cas-metabase-test.apps.silver.devops.gov.bc.ca
