cas-postgres:
  patroni:
    resources:
      limits:
        cpu: "1"
        memory: 2Gi
      requests:
        cpu: 15m
        memory: 600Mi
    walE:
      enable: true
      # the GCS bucket name should be {{ namespace }}-{{ gcs.bucketSuffix }}, has to be < 28 characters
      gcsBucket: 9212c9-prod-mb-backups
      # kubernetesSecret should be gcp-{{ namespace }}-{{ gcs.bucketSuffix }}-service-account-key
      kubernetesSecret: gcp-9212c9-prod-mb-backups-service-account-key # pragma: allowlist secret
    # options below are required if walE.enable is true
  namespace: 9212c9-prod
  gcs:
    bucketSuffix: mb-backups

route:
  enable: true
  host: cas-metabase.nrs.gov.bc.ca

metabase:
  nginxSidecar:
    enable: true
    # set to false to deploy the application with an insecure route,
    # and issue an SSL certificate using acme.sh
    sslTermination: false
    # Use Entrust ACME server. This secret is created by cas-pipeline
    caServerSecret: cas-acme-url
    caServerKey: url
    caEmail: matthieu@button.is # Todo: update to ggircs@gov.bc.ca when provisioned
    hostName: cas-metabase.nrs.gov.bc.ca
